@import 'src/styles/mixins/index';

.contacts-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 30%;
    border: 1px solid #dedcdc;
    border-radius: 4px;

    .header {
      @include header-bg;
      color: #ffffff;
      height: 60px;
      padding: 10px 20px;
      display: flex;

      h2 {
        align-self: end;
      }
    }

    .contact-content {
      display: flex;
      justify-content: space-between;

      .contacts {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 40%;

        div {
          padding: 30px 20px;

          p {
            color: #5e5d5d;
          }

          p .mat-icon {
            color: #5e5d5d;
            margin-right: 10px;
          }
        }
      }

      form {
        width: 50%;
        padding: 30px 20px;
        background-color: #777777;
      }

      form:host {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .mat-form-field {
        width: 100%;
        color: whitesmoke;
      }
    }
  }
}

@media (max-width: 768px) {
  .contacts-wrapper {
    margin-top: 40px;

    .content {
      width: 80%;

      .contact-content {
        flex-direction: column;

        .contacts {
          width: 100%;
        }

        form {
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contacts-wrapper {
    .content {
      width: 80%;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .contacts-wrapper {
    .content {
      width: 60%;
    }
  }
}

@media (min-width: 1280px) and (max-width: 1920px) {
  .contacts-wrapper {
    .content {
      width: 45%;
    }
  }
}
