.card-img-top{
    width: 20%;
    height: 20%;
    object-fit: cover;
    float: right;
    margin: 10px;
     
}
.card{
    padding:10px;
    margin: 10px;
}
.card-header{
    padding: 0px;
}
section{
    background-color: aliceblue!important;
}