<ng-container [formGroup]="form">
  <mat-card class="form-container">
    <mat-card-title style='font-size: 16px'>Address Details</mat-card-title>

    <!-- Post code -->
    <mat-form-field color='accent'>
      <mat-label>Post Code</mat-label>
      <input type='number' matInput placeholder="Ex. 12345" formControlName="postCode" />
    </mat-form-field>
    <!-- /Post code -->

    <!-- Country -->
    <mat-form-field color='accent'>
      <mat-label>Number</mat-label>
      <input type="text" matInput placeholder="Ex. Ukraine" formControlName="country" />
    </mat-form-field>
    <!-- /Country -->


    <!-- City -->
    <mat-form-field color='accent'>
      <mat-label>Postal</mat-label>
      <input type="text" matInput placeholder="Ex. Lviv" formControlName="city" />
    </mat-form-field>
    <!-- /City -->


    <!-- Area -->
    <mat-form-field color='accent'>
      <mat-label>Area</mat-label>
      <input type="text" matInput placeholder="Ex. Lviv area" formControlName="area" />
    </mat-form-field>
    <!-- /Area -->
  </mat-card>
</ng-container>
