<ng-container [formGroup]="form">
  <mat-card class="form-container">
    <mat-card-title style="font-size: 16px">Address Details</mat-card-title>

    <!-- UserAddress -->
    <mat-form-field color="accent">
      <mat-label>Country</mat-label>
      <mat-select
        formControlName="country"
        (valueChange)="countryValueChange($event)"
      >
        <mat-option *ngFor="let value of countries" [value]="value">{{
          value | uppercase
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.hasError('required', 'country')">
        This field is required!
      </mat-error>
    </mat-form-field>
    <!-- /UserAddress -->

    <!-- Area -->
    <mat-form-field color="accent">
      <mat-label>State</mat-label>
      <mat-select
        formControlName="area"
        (valueChange)="stateValueChange($event)"
      >
        <mat-option *ngFor="let value of states" [value]="value">{{
          value | uppercase
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.hasError('required', 'area')">
        This field is required!
      </mat-error>
    </mat-form-field>
    <!-- /Area -->

    <!-- City -->
    <mat-form-field color="accent">
      <mat-label>City</mat-label>
      <mat-select formControlName="city">
        <mat-option *ngFor="let value of cities" [value]="value">{{
          value | uppercase
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.hasError('required', 'city')">
        This field is required!
      </mat-error>
    </mat-form-field>
    <!-- /City -->

    <!-- Post code -->
    <mat-form-field color="accent">
      <mat-label>Post Code</mat-label>
      <input
        type="text"
        matInput
        placeholder="Ex. 12345"
        formControlName="postCode"
      />
      <mat-error *ngIf="form.hasError('required', 'postCode')">
        This field is required!
      </mat-error>
    </mat-form-field>
    <!-- /Post code -->
  </mat-card>
</ng-container>
