<mat-toolbar class='mat-toolbar'>
  <div class='logo'>
    <a href="#">Local goods</a>
  </div>
  <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
    <div class="navbar-nav">
      <ul>
        <li routerLinkActive="active"><a (click)="collapsed = !collapsed" routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a (click)="collapsed = !collapsed" style="cursor: pointer" routerLink="/auth">Authenticate</a></li>
      </ul>
    </div>
    <div class="navbar-nav navbar-right">
      <ul>
        <li><a (click)="collapsed = !collapsed">UserName</a></li>
        <li><a style="cursor: pointer" (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
    <div class="burger">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
    </div>
  </div>
</mat-toolbar>
