a {
    cursor: pointer;
}

.product-card {
    display: flex;
    flex-direction: column;
    margin: auto auto 10px;
    width: 90vw;
    padding: 15px 20px;
    align-items: center;
    border: 1px solid #000;
    border-radius: 15px;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.product-name,
.product-seller {
    color: #000;
}

.product-name {
    font-weight: 600;
    font-size: 22px;
}

.product-seller {
    font-weight: 400;
    font-size: 16px;
}

.product-description {
    font-size: 12px;
    text-align: center;
    height: 30px;
    margin: auto auto 10px;
}

.product-price {
    margin: 15px auto;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
}

.product-add__container {
    display: flex;
}

input {
    font-size: 16px;
    padding: 5px 10px;
    width: 70px;
    margin: auto 5px;
    outline: none;
}

.product-add {
    font-size: 16px;
    padding: 5px 10px;
    color: #fff;
    border: 1px solid transparent;
    background-color: #39a94b;
    cursor: pointer;
    transition: 0.2s linear;
}

.product-add:hover {
    color: #39a94b;
    background-color: transparent;
    border: 1px solid #39a94b;
}

input:active {
    border: 1px solid #39a94b;
}


@media (min-width: 768px) {
    .product-card {
        flex-direction: column;
        width: 250px;
        height: 350px;
        margin: auto 5px 10px 5px;
    }

    .product-container {
        flex-direction: column;
        align-items: center;

    }

    .product-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}