@import 'src/styles/constants/index';
@import 'src/styles/mixins/index';

.sub-menu {
  @include display();
  background: $light-green;

  &__field {
    width: 400px;
    color: black;
    margin: 0 15px;
  }

  &__label {
    color: $graphite;
    @include font-size($font-medium-plus, $font-medium)
  }

  &__select {
    color: #30e01c !important;
  }

  @include media-breakpoint-between('md', 'lg') {
    &__field {
      width: 250px;
    }
    &__field-search {
      width: 400px;
    }
  }

  @include media-breakpoint-between('xxs', 'md') {
    flex-direction: column;
    &__field {
      width: 90%;
    }
  }
}


