.sub-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__field {
    width: 400px;
    color: black;
    margin: 0 15px;
  }

  &__label {
    color: black;

  }

  &__select {
    color: #30e01c !important;
  }

  &__options {
    background-color: #ecebe3;
    color: #8a8888;
  }
}
