.account {
  h3 {
    margin: 0;
    font-weight: 500;
  }
  padding: 15px;
  width: 100%;
  background-color: #dddddd;
}

.setting-container {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .user-info {
    width: 70%;
    margin-right: 15px;

    .panel-footer {
      padding: 10px 15px;
      background-color: #fff;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      button {
        margin-right: 30px;
      }
    }

    .resp-tab {
      border-radius: 5px;
      font-weight: normal;
      border: none;
      border-collapse: collapse;
      width: 100%;
      max-width: 100%;
    }

    .resp-tab th, .resp-tab td {
      padding: 10px 20px;
      font-size: 13px;
      font-family: Verdana, sans-serif;
      border: 1px solid #ddd;
      vertical-align: top;
    }

    .resp-tab th {
      color: #FFF;
      background: #88898a;
      font-weight: bold;
      border: 1px solid #515252;
      text-transform: uppercase;
      text-align: center;
    }

    .resp-tab tr:nth-child(even) {
      background: #f6f6f8;
    }

    .resp-tab td span {
      background: #88898a;
      color: #FFF;
      display: none;
      font-size: 11px;
      font-weight: bold;
      font-family: Verdana, sans-serif;
      text-transform: uppercase;
      padding: 5px 10px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .panel-default {
    border-color: #dddddd;
  }

  .panel {
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);

    .panel-heading {
      color: #263038;
      background-color: #f5f5f5;
      padding: 10px 15px;
      border-bottom: 1px solid transparent;
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
    }

    .panel-body {
      padding: 15px;

      .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 3px;
      }

      .alert-info {
        background-color: #d9edf7;
        border-color: #bce8f1;
        color: #3a87ad;
      }
    }
  }
}

  @media(max-width: 768px) {
    .setting-container {
      flex-direction: column;

      .user-info {
        width: 100%;

        .resp-tab thead {
          display: none;
        }

        .resp-tab tr {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 30px;
        }

        .resp-tab td {
          margin: 0 -1px -1px 0;
          padding-top: 35px;
          position: relative;
          width: 100%;
        }

        .resp-tab td span {
          display: block;
        }
      }
    }
  }
  @media(max-width: 480px) {
    .setting-container {
      flex-direction: column;

      .user-info {
        width: 100%;

        .resp-tab td {
          width: 100%;
        }
      }
    }
  }


