@import "src/styles/constants/index";
@import "src/styles/mixins/index";

.input {
  display: flex;
  justify-content: center;
  padding-right: 5px;

  .pass-visibility {
    background: transparent;
    width: 20px;
    color: $gray50;
    font-size: $font-large;
  }

  .icon-pass-visible {
    @include icon('action-eye-24');
  }

  .icon-pass-invisible {
    @include icon('action-eye-off-24');
  }
}


