.selects {
  display: flex;
  align-items: center;
  margin: 0 15px 0 15px;

  .select {
    select, input {
      border: 1px solid #dddddd;
      border-radius: 4px;
      padding: 5px;

      option {
        color: #777777;
        font-weight: 500;
      }
    }

    label {
      margin-right: 15px;
      color: #777777;
      font-weight: 500;
    }

    padding: 15px;
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .selects {
    display: flex;
    flex-direction: column;
    align-items: inherit;

    .select {
      display: block;
      select, input {
        height: 42px;
        width: 100%;

        option {
          color: #777777;
          font-weight: 500;
        }
      }

      label {
        display: block;
        font-size: 24px;
      }
      margin-left: 0;
    }
  }
}
