<div class='container'>
  <form>
    <mat-form-field color='accent' appearance="outline">
      <mat-label>Nickname</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select>
        <mat-option value="buyer">Buyer</mat-option>
        <mat-option value="seller">Seller</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="primary">Primary</button>
    </div>
  </form>
</div>

