<div class='container'>
  <form *ngIf='registerForm' class='example-form' [formGroup]='registerForm' (ngSubmit)="onSubmit()">
    <mat-form-field color='accent' appearance="outline">
      <mat-label>Nickname</mat-label>
      <input
        type='text'
        id='nickName'
        formControlName='nickName'
        matInput
      >
      <mat-error
        class='help-block'
        *ngIf="!registerForm.get('nickName')?.valid && registerForm.get('nickName')?.touched"
      >
        <mat-error
          class="help-block"
          *ngIf="registerForm.get('nickName')?.errors?.['required']"
        > This field is required!
        </mat-error>
        <mat-error
          class="help-block"
          *ngIf="registerForm.get('nickName')?.errors?.['minlength']"
        > Nick should have 3 characters minimum!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" color='accent' appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Ex. pat@example.com"
        matInput
      >
      <mat-error
        class='help-block'
        *ngIf="!registerForm.get('email')?.valid && registerForm.get('email')?.touched"
      >
        <mat-error
          class="help-block"
          *ngIf="registerForm.get('email')?.errors?.['required']"
        > This field is required!
        </mat-error>
        <mat-error
          class="help-block"
          *ngIf="registerForm.get('email')?.errors?.['pattern']"
        > This email is not valid!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field color='accent' appearance="outline">
      <mat-label>Password</mat-label>
      <input
        type="password"
        id="password"
        formControlName="password"
        autocomplete="on"
        matInput
      >
      <mat-error
        class='help-block'
        *ngIf="!registerForm.get('password')?.valid && registerForm.get('password')?.touched"
      >
        <mat-error
          class="help-block"
          *ngIf="registerForm.get('password')?.errors?.['required']"
        > This field is required!
        </mat-error>
        <mat-error
          class="help-block"
          *ngIf="registerForm.get('password')?.errors?.['minlength']"
        > Password should have 6 characters minimum!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field color='accent' appearance="outline">
      <mat-label>Confirm password</mat-label>
      <input
        type="password"
        id="password-confirm"
        formControlName="password-confirm"
        autocomplete="on"
        matInput
      >
      <mat-error
        class='help-block'
        *ngIf="!registerForm.get('password')?.valid && registerForm.get('password')?.touched"
      >
        <mat-error
          class="help-block"
          *ngIf="registerForm.get('password')?.errors?.['required']"
        > This field is required!
        </mat-error>
        <mat-error
          class="help-block"
          *ngIf="registerForm.get('password')?.errors?.['minlength']"
        > Password should have 6 characters minimum!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field color='accent' appearance="outline">
      <mat-label>Role</mat-label>
      <mat-select
        formControlName="role"
      >
        <mat-option value="buyer">Buyer</mat-option>
        <mat-option value="seller">Seller</mat-option>
      </mat-select>
      <mat-error
        class='help-block'
        *ngIf="!registerForm.get('role')?.valid && registerForm.get('role')?.touched"
      >
        <mat-error
          class="help-block"
          *ngIf="registerForm.get('role')?.errors?.['required']"
        > This field is required!
        </mat-error>
      </mat-error>
    </mat-form-field>
    <div>
      <button [disabled]='!registerForm.valid' mat-raised-button type='submit' color="accent">Register</button>
    </div>
  </form>
</div>

