<mat-form-field color='accent' appearance="outline">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8" *ngIf='products else loading'>
  <mat-table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header='id'> ID </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row" data-label="id">{{ row.id }}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header='name'> Name </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row" data-label="name"> {{ row.name }} </mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header='category'> Category </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row" data-label="category"> {{ row.category }} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="shortDesc">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header='shortDesc'> Description </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row" data-label="shortDesc"> {{ row.shortDesc }} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header='price'> Price </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row" data-label="price"> {{ row.price }} $</mat-cell>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="photo" >
      <mat-header-cell mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row" data-label="image">
        <img style='width: 40px' [src]='row.photo' alt='photo'>
        <mat-icon (click)='onProductUpdate(row)' style='cursor: pointer'>edit</mat-icon>
        <mat-icon (click)='onProductDelete(row.id)' style='cursor: pointer'>delete</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

     Row shown when there is no matching data.
    <tr class="mat-row" *matNoDataRow>
      <th class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</th>
    </tr>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of products"></mat-paginator>
</div>

<ng-template #loading>
  <div style="text-align: center" >
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-template>



