<!--Create page to see list of order along with their image, use /order/getOrders api model,
Also 2 button for either accept or decline order-->

<!--include bootstrap cdns-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!-- &lt;!&ndash; bootstrap js file &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->


<div>


  <h1>Your Orders</h1>
  <div *ngIf='!orders'>{{ message }}</div>
  <div *ngIf='orders'>
    <div *ngFor="let order of orders.data">
      <div class="card bg-light mb-3 border-secondary">
        <!-- card title,  order.orderStatus == 'Pending'" then make header color primary -->


        <h4>Order ID: #{{order?.id}}</h4>

        <!-- else if orderstatus is Confirmed the make header color success-->
        <!-- <div class="card-header" [ngClass]="{'bg-success': order.orderStatus == 'Confirmed'}">

            <h4 >Order ID: #{{order.id}}</h4>
        </div>
           -->

        <!-- card body -->
        <div class="card-body">
          <div class="card-img-top">
            <img src="{{order?.orderItem.imageLink}}" alt="image" width="100px" height="100px">
          </div>
          <div>
            <h3 class="card-title">{{order?.orderItem.productTitle}}</h3>
          </div>

          <h4 class="card-text ">Order Status: {{order?.orderStatus}}</h4>
          <h4 class="card-text">Quantity: {{order?.quantity}}</h4>


        </div>
      </div>
    </div>
  </div>
</div>

