$green-gradient: linear-gradient(340.03deg, #607747 8.42%, #3cc51c 91.45%);

// EPAM COLOR PALETTE

//// PRIMARY COLORS
$epam-blue: #76cdd8;
$pale-blue: #9bdeff;
$pale-text-blue: #00689b;
$lime-green: #cedb56;
$pale-green: #e5ffb3;
$pale-text-green: #669900;
$light-green: #daeed6;
$graphite: #222;
$white: #fff;
$black: #000;

//// SECONDARY COLORS
$coral: #d35d47;
$sharp-blue: #39c2d7;
$dark-blue: #263852;
$light-gray: #ccc;
$dark-gray: #464547;

/* Main Colors */
$white: #fff;
$blue: #008ace;
$light-blue: #ceefff;
$green: #8c0;
$amber: #ffc000;
$red: #e54322;
$pale-text-red: #be3316;
$pale-red: #f8cbc2;
$cyan: #14cccc;
$orange: #e67e17;
$orange-dark: #89370e;
$orange-darkest: #72250b;
$purple: #ad14cc;
$violet: #5214cc;

/* Gray */
$gray5: #fafafc;
$gray10: #f5f6fa;
$gray20: #ebedf5;
$gray30: #e1e3eb;
$gray40: #ced0db;
$gray50: #acafbf;
$gray60: #6c6f80;
$gray70: #474a59;
$gray80: #303240;
$gray90: #1d1e26;
