@import 'src/styles/constants/index';
@import 'src/styles/mixins/index';

li {
  list-style: none;
  margin-left: 15px;
}

a {
  color: white;
}

.logo {
  font-size: 24px;
  height: 100%;
  img {
    height: 100%;
  }
}

.cdk-overlay-pane {
  width: 100%;
}

.active a {
  color: #555 !important;
  font-weight: 500;
}

.cart-num {
  font-size: 12px;
  color: #fff;
  background: red;
  border-radius: 50%;
  padding: 0 5px;
}

@media (max-width: 768px) {
  .mat-toolbar {
    @include header-bg;
    display: flex;
    justify-content: space-between;

    .navbar-collapse {
      display: flex;

      .navbar-nav {
        display: none;
      }

      .burger {
        display: flex;
        align-items: center;

        .navbar-toggle:hover {
          border-color: white;
        }

        .navbar-toggle:focus {
          background-color: $gray50;
        }

        .navbar-toggle {
          position: relative;
          float: right;
          padding: 9px 10px;
          margin: 8px 15px 8px 8px;
          border: 1px solid transparent;
          border-radius: 4px;
          font-family: inherit;
          font-size: inherit;
          line-height: inherit;

          .icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background-color: $gray60;
          }

          .icon-bar + .icon-bar {
            margin-top: 4px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .mat-toolbar {
    @include header-bg;

    .navbar-collapse {
      display: flex;
      width: inherit;
      justify-content: space-between;

      .navbar-nav {
        ul {
          display: flex;
        }
      }

      .navbar-right {
        align-self: center;
      }
      mat-icon {
        margin-left: 20px;
      }

      .burger {
        display: none;
      }
    }
  }
}
