<mat-toolbar class="mat-toolbar">
  <div class="logo" routerLink="/home">
    <img src="assets/icons/logo.svg" alt="logo" />
  </div>
  <div class="navbar-collapse">
    <div class="navbar-nav">
      <ul>
        <li
          style="cursor: pointer"
          routerLinkActive="active"
          routerLink="/contacts"
        >
          <a>Contacts</a>
        </li>
        <li
          style="cursor: pointer"
          routerLinkActive="active"
          routerLink="/info"
        >
          <a>Info</a>
        </li>
        <li
          *ngIf="isUserAuth && user.role === 'customer'"
          style="cursor: pointer"
          routerLinkActive="active"
          routerLink="/shop"
        >
          <a>Shop</a>
        </li>
        <li
          *ngIf="isUserAuth && user.role === 'seller'"
          routerLinkActive="active"
          routerLink="/seller-admin-panel"
        >
          <a>My Farm</a>
        </li>
        <li
          *ngIf="isUserAuth && user.role === 'seller'"
          routerLinkActive="active"
          routerLink="/seller-orders"
        >
          <a>Pending Orders</a>
        </li>
        <li
          *ngIf="isUserAuth && user.role === 'customer'"
          routerLinkActive="active"
        >
          <a>My Orders</a>
        </li>
      </ul>
    </div>
    <div class="navbar-nav navbar-right">
      <mat-icon
        [ngClass]="btnIsHighlighted ? 'bump' : ''"
        [matBadge]="cartCounter"
        matBadgeColor="warn"
        style="cursor: pointer; position: relative"
        routerLink="/cart"
        *ngIf="isUserAuth && user.role === 'customer'"
        >shopping_cart</mat-icon
      >
      <mat-icon
        style="cursor: pointer"
        *ngIf="isUserAuth"
        [matMenuTriggerFor]="profile"
        >person_outline</mat-icon
      >
      <mat-icon style="cursor: pointer" routerLink="/login" *ngIf="!isUserAuth"
        >login</mat-icon
      >
      <mat-icon
        style="cursor: pointer"
        routerLink="/register"
        *ngIf="!isUserAuth"
        >lock_open</mat-icon
      >
    </div>
    <div class="burger">
      <button type="button" class="navbar-toggle" [matMenuTriggerFor]="menu">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-menu #profile="matMenu">
  <button mat-menu-item>
    <mat-icon>person_outline</mat-icon>
    {{ user?.nickName }}
  </button>
  <button mat-menu-item>
    <mat-icon>mail_outline</mat-icon>
    {{ user?.email }}
  </button>
  <button mat-menu-item style="cursor: pointer" routerLink="private/settings">
    <mat-icon>settings</mat-icon>
    Settings
  </button>
  <mat-divider></mat-divider>
  <button (click)="onLogout()" mat-menu-item>
    <mat-icon>logout</mat-icon>
    Exit
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/home">
    <mat-icon>home</mat-icon><a>Home</a>
  </button>
  <button mat-menu-item routerLink="/contacts">
    <mat-icon>contacts</mat-icon><a>Contacts</a>
  </button>
  <button mat-menu-item routerLink="/info">
    <mat-icon>info</mat-icon><a>Info</a>
  </button>
  <button
    *ngIf="isUserAuth && user.role === 'customer'"
    mat-menu-item
    routerLink="/shop"
  >
    <mat-icon>shopping_bag</mat-icon><a>Shop</a>
  </button>
  <button
    *ngIf="isUserAuth && user.role === 'seller'"
    mat-menu-item
    routerLink="/seller-admin-panel"
  >
    <mat-icon>admin_panel_settings</mat-icon><a>My Farm</a>
  </button>
  <button
    *ngIf="isUserAuth && user.role === 'seller'"
    mat-menu-item
    routerLink="/seller-orders"
  >
    <mat-icon>pending_actions</mat-icon><a>Pending Orders</a>
  </button>
  <button
    *ngIf="isUserAuth && user.role === 'customer'"
    mat-menu-item
    routerLink="/customer-orders"
  >
    <mat-icon [matBadge]="cartCounter" matBadgeColor="warn"
      >shopping_basket</mat-icon
    ><a>My Orders</a>
  </button>
  <button
    *ngIf="isUserAuth && user.role === 'customer'"
    mat-menu-item
    routerLink="/cart"
  >
    <mat-icon>shopping_cart</mat-icon><a>Cart</a>
  </button>
  <button *ngIf="isUserAuth" mat-menu-item routerLink="/private/settings">
    <mat-icon>settings</mat-icon><a>Settings</a>
  </button>
  <mat-divider></mat-divider>
  <button *ngIf="isUserAuth" mat-menu-item>
    <mat-icon>logout</mat-icon><a (click)="onLogout()">Logout</a>
  </button>
  <button *ngIf="!isUserAuth" mat-menu-item routerLink="/login">
    <mat-icon>login</mat-icon><a style="cursor: pointer">Login</a>
  </button>
  <button *ngIf="!isUserAuth" mat-menu-item routerLink="/register">
    <mat-icon>lock_open</mat-icon><a style="cursor: pointer">Register</a>
  </button>
</mat-menu>
