 


 <h1>Pending Orders:</h1>

<div>
  <div *ngFor="let order of pending_orders">
    <div class="card bg-light mb-3 border-secondary">

      <h4>Order ID: #{{order.id}}</h4>

      <div class="card-body">
        <div class="card-img-top">
          <img src="{{order.orderItem.imageLink}}" alt="image" width="100px" height="100px">
        </div>
        <div>
          <h3 class="card-title">{{order.orderItem.productTitle}}</h3>
        </div>
        <h4>Drop Address: {{order.dropAddress.city}}</h4>

        <h4 class="card-text">Quantity: {{order.quantity}}</h4>

        <button class="btn-decline"  (click)="declineOrder(order.id)"  >Decline</button>
        <button class="btn-deliver" (click)="deliverOrder(order.id)"  >Deliver</button>

      </div>
    </div>
  </div>
</div>
