@import 'src/styles/constants/index';
@import 'src/styles/mixins/index';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.cart {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;

  &__product-section {
  }

  &__item-section {
    width: 600px;
  }

  &__item-element {
  }

  &__actions {
    margin-top: 20px;
  }

  &__buy-button {
    @include button($background-color: $green);
  }

  &__clear-button {
    @include button($background-color: $pale-text-red);
  }

  &__buy-button, &__clear-button {
    width: 50%;
    padding: 5px;
    border-radius: 3px;
  }

  &__order-section {
    width: 200px;
    height: min-content;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  &__order-info {
    display: flex;
    flex-direction: column;
    button {
      @include button($background-color: $epam-blue);
      padding: 5px;
      border-radius: 3px;
    }
  }
}




