@import 'src/styles/constants/index';
@import 'src/styles/mixins/fonts';

@mixin button(
  $background-color: $blue,
  $color: $white,
  $font-family: $font-sans-semibold
) {
  border: none;
  background-color: $background-color;
  color: $color;
  cursor: pointer;
  padding: 0 5px;
  text-transform: uppercase;

  &:disabled,
  &[disabled] {
    opacity: 0.7;
    cursor: initial;
  }
}

