<h2 mat-dialog-title style="font-size: 22px">Change my password</h2>
<div class="container">
  <form class="form" [formGroup]="passForm" (ngSubmit)="onSubmit()">
    <mat-card class="form-container">
      <mat-form-field color="accent" *ngFor="let control of formData?.controls">
        <mat-label>{{ control.label }}</mat-label>
        <input
          *ngIf="
            ['text', 'email', 'number', 'search', 'tel', 'url'].includes(
              control.type
            )
          "
          [type]="control.type"
          [id]="control.name"
          [formControlName]="control.name"
          [value]="control.value"
          matInput
        />
        <div class="input" *ngIf="control.type === 'password'">
          <input
            [type]="control.isPassIsVisible ? 'text' : 'password'"
            [id]="control.name"
            [formControlName]="control.name"
            [value]="control.value"
            autocomplete="on"
            matInput
          />
          <i
            *ngIf="control.type === 'password'"
            class="pass-visibility"
            (click)="onTogglePassVisible(control.name)"
            [ngClass]="
              !control.isPassIsVisible
                ? 'icon-pass-visible'
                : 'icon-pass-invisible'
            "
          ></i>
        </div>
        <mat-error
          *ngIf="
            getError(control.name)?.invalid && getError(control.name)?.touched
          "
        >
          <mat-error *ngIf="getError(control.name)?.hasError('required')">
            {{ _errorMessage.required }}
          </mat-error>
          <mat-error *ngIf="getError(control.name)?.hasError('minlength')">
            {{ _errorMessage.minlength }}
          </mat-error>
          <mat-error
            *ngIf="
              getError(control.name)?.hasError('message') &&
              !getError(control.name)?.hasError('minlength')
            "
          >
            {{passForm.controls[control.name].errors?.['message']}}
          </mat-error>
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="passForm.hasError('notSame')">
        Passwords do not match
      </mat-error>
    </mat-card>
  </form>
</div>
<mat-dialog-actions>
  <button
    [disabled]="!passForm.valid"
    type="submit"
    (click)="onSubmit()"
    mat-raised-button
    mat-dialog-close="true"
  >
    Save
  </button>
</mat-dialog-actions>
