<div class="product-card">
<!--    <div class="product-container">-->
<!--        <a routerLink='/product/{{product.id}}'>-->
<!--            <img src="{{product.imageLink}}" alt="{{product.productTitle}}" class="product-pic">-->
<!--        </a>-->
<!--        <div class="product-content">-->
<!--            <a class="product-name__link" routerLink='/product/{{product.id}}'>-->
<!--                <h3 class="product-name"> {{product.productTitle}}</h3>-->
<!--            </a>-->
<!--            <a href="#" class="product-seller__link">-->
<!--                <h4 class="product-seller">Seller: {{product.seller.name}}</h4>-->
<!--            </a>-->
<!--            <p class="product-description">{{product.shortDescription}}</p>-->
<!--            <p class="product-price">{{product.price | currency: 'USD'}}</p>-->
<!--        </div>-->
<!--    </div>-->
    <ng-content></ng-content>
</div>
