/* You can add global styles to this file, and also import other style files */
html, body { height: 100vh;  overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
a {text-decoration: none}

.form-container {
  background-color: #919494;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
}


.container {
  width: 800px;
  .form {
    width: 100%;
  }
  //margin-top: 7em;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  //height: 100%;
  border-radius: 6px;

  .mat-form-field {
    margin-bottom: 15px;
    display: block;
  }
}

@media (max-height: 500px) {
  .mat-dialog-container {
    max-height: 400px!important;
  }
}


@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 200px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 500px;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 800px;
  }
}

