@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/opensans/v34/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVI.woff2');
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/robotocondensed/v25/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2');
}

@font-face {
  font-family: icon-font;
  src: url('../../assets/fonts/icon-font.woff') format('woff'),
  url('../../assets/fonts/icon-font.ttf') format('truetype'),
  url('../../assets/fonts/icon-font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Black';
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-Black.otf')
  format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../../assets/fonts/source-sans-pro/SourceSansPro-Regular.otf')
  format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  src: url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/RobotoCondensed-Regular.ttf')
  format('truetype');
}

@font-face {
  font-family: 'Sans Semibold';
  src: url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/source-sans-pro/woff2/ttf/SourceSansPro-Semibold.ttf.woff2')
  format('woff2'),
  url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/source-sans-pro/woff/otf/SourceSansPro-Semibold.otf.woff')
  format('woff'),
  url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/source-sans-pro/otf/SourceSansPro-Semibold.otf')
  format('opentype'),
  url('https://static.cdn.epam.com/uploads/690afa39a93c88c4dd13758fe1d869d5/EPM-UUI/fonts/source-sans-pro/ttf/SourceSansPro-Semibold.ttf')
  format('truetype');
  font-weight: normal;
  font-style: normal;
}
