<div class="shop">
  <app-sub-menu-header class="shop__sub-menu-header"></app-sub-menu-header>
  <div class="shop__product-section">
    <ng-container *ngIf="products.length !== 0; else loading">
      <app-product-card *ngFor="
        let product of products
          | pagination: pageIndex: pageSize
          | search : searchValue
          | sort : sortValue
          | filter : category
      " [product]="product">
      </app-product-card>
    </ng-container>
    <ng-template #loading>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
  </div>
</div>
<mat-paginator
  class="mat-paginator-outer-container"
  [pageSizeOptions]="pageSizeOptions"
  (page)="handlePageEvent($event)"
  [length]="length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  aria-label="Select page of products"
></mat-paginator>
