@import 'src/styles/constants/index';
@import 'src/styles/mixins/index';

.mat-paginator-outer-container {
  background-color: $light-green;
  justify-content: end;
  color: $graphite;
}

.shop {
  padding-top: 20px;

  &__sub-menu-header {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1192px;
    margin: 0 auto;
  }

  &__product-add-container {
    display: flex;
  }

  &__product-add-button {
    background-color: $green;
    color: $white;

    mat-icon {
      margin-left: 10px;
      font-size: 20px;
    }
  }

  &__product-add-button:hover {
    color: $green;
    background-color: $white;
  }

  @include media-breakpoint-between('min', 's') {
    &__product-section {
      display: block;
    }
  }
}

input {
  font-size: 16px;
  padding: 5px 10px;
  width: 70px;
  margin: auto 5px;
  outline: none;
}

input:active {
  border: 1px solid $green;
}
