.product-section {
  display: flex;
  flex-wrap: wrap;

  // flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-add__container {
  display: flex;
}

input {
  font-size: 16px;
  padding: 5px 10px;
  width: 70px;
  margin: auto 5px;
  outline: none;
}

.product-add {
  font-size: 16px;
  padding: 5px 10px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #39a94b;
  cursor: pointer;
  transition: 0.2s linear;
}

.product-add:hover {
  color: #39a94b;
  background-color: transparent;
  border: 1px solid #39a94b;
}

input:active {
  border: 1px solid #39a94b;
}

@media (max-width: 768px) {
  .product-section {
    flex-direction: row;
  }
}
