<div class='info'>
  <div class='content'>
    <h2>About us</h2>
    <p>
      This information platform for those who prefer to buy the goods from farmers and people who produce them by themselves and in small batches. It’s quite hard to find such producers and this is time-consuming but in this platform we collected them together. All goods from farms have better taste, are more natural and useful.
      So as a customer you have a possibility to see all local farmers of such products in one place. Here possibility to view goods from a buyer, filter them by different categories of goods
      and so on. We wish you a successful shopping!
    </p>
    <p>The main goal of our platform is to facilitate work for our clients, save time in selection of the required goods.</p>
    <p>We wish you a successful shopping!</p>
  </div>
</div>
