<div class='info'>
  <div class='content'>
    <h2>About us</h2>
    <p>
      <span>Local Goods</span> is dedicated to providing an inexpensive opportunity for small-scale and home-based entrepreneurs to sell their homemade, home grown and self-produced products to shoppers worldwide.
      We believe that independent entrepreneurs who sell their own products directly to consumers are a key component of a sustainable economy, particularly in economically challenged rural areas.
    </p>
    <span>Privacy Assured</span>
    <p> We do not collect, store or share information about visitors to this website.</p>
  </div>
</div>
